{% load thumbnail %}
<div>
    {% for n in last_newses %}
        <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-2">
                      <a href="#">
                        <img class="img-fluid rounded" src="{% thumbnail n.image 300x300 crop %}">
                      </a>
                    </div>
                    <div class="col-lg-10">
                      <h2 class="card-title">{{ n.title }}</h2>
                        <hr>
                      <p class="card-text">{{ n.content }}</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  Dodano: {{ n.post_date }}
                </div>
        </div>
    {% endfor %}
</div>